@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


header li{
    display:inline-block;
    font-family: 'Amatic SC';
    font-size:50px;
    color:black;
    margin:3px 40px 10px 30px ;
    padding-bottom:1px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition:0.5s;
    vertical-align:bottom;

}
header a{
    color:black;
    text-decoration: none;

}
header a:active {

color:black;

text-decoration:none;

}

header a:visited {

color:black;
text-decoration:none;


}

header li:hover{
    background-size: 100% 2px;


}
header ul{
    margin:0px;


}
header{
    height:56px;
    padding:30px 0px 0px 0px ;

}


body{
    background-image: url('https://img.pac.ru/landmarks/385375/big/48BFD1B57F00010123A0A5A838EC8D8C.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    background-attachment: fixed;
    background-position: center;
    width:100%;
    margin:0px;




}
.icon{
    width:60px;
    border: 2px solid #000000;
    vertical-align:top;
    margin-right: 20px;


}
/*-------------------------------------------------------------------------------------------------------------------------*/
.adaptivny-slayder {
  position: relative;
  max-width: 450px;
  margin: 60px 0px 0px 70px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}



.adaptivny-slayder input[name="kadoves"] {
  display: none;
}

.kadoves {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.kadoves label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#slaid1:checked~.kadoves label[for="slaid1"] {
  background-color: white;
}

#slaid2:checked~.kadoves label[for="slaid2"] {
  background-color: white;
}

#slaid3:checked~.kadoves label[for="slaid3"] {
  background-color: white;
}

.adaptivny-slayder-lasekun {
  overflow: hidden;

}

.abusteku-deagulus {
  display: flex;
  width: 100%;
  transition: all 0.5s;
}

.abusteku-deagulus img {
  width: 100%;
  flex-shrink:0;
}

#slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
  transform: translate(0);
}

#slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
  transform: translateX(-100%);
}

#slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
  transform: translateX(-200%);
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.Coco{
    width:1200px;
    margin:auto;
    margin-top:60px;
    margin-bottom:70px;
    background-color:#e3ddbf;
    padding:20px 40px 20px 40px ;

}


.Coco p{
     font-family: 'Roboto Slab';
    font-size: 22px;

}
.Coco img{
    width:300px;
    height:400px;
    float:right;
    margin:10px 20px 20px 30px ;


}
/*-------------------------------------------------------------------------------------------------------------------------*/
.map{
    width:1200px;
    height:400px;
    margin:auto;
    background:#e3ddbf;
    padding:10px 20px 30px 20px ;
}
.map iframe{
    display:inline-block;
    float:right;
    margin-top:-320px;
    margin-right:100px;

}

/*-------------------------------------------------------------------------------------------------------------------------*/

.enter{
    width:1200px;
    margin:auto;
    padding:30px;
    margin-top:30px;

}
.enter div{
    background-color: #e8e0b7;
    padding: 40px;
    margin-bottom:60px;
    border: 2px black solid;
}
.enter p{
    font-family: 'Roboto Slab';
    font-size: 22px;
}
.enter h2{
    font-family:'Arial';
    font-size: 30px;
    font-weight:bolder;

}
.enter img{
    width:300px;
    height:280px;
    margin-right:40px;
    margin-top:30px;
    margin-bottom:17px;
    float: left;
    transition: 0.5s;

}
.enter img:hover{
      box-shadow:10px 10px 0px #9c9573;
    transition: 0.5s;
}

/*-------------------------------------------------------------------------------------------------------------------------*/

a{
color:black;
}

a:active {
color:black;
text-decoration:none;
}
 a:visited {
color:black;
text-decoration:none;
}

/*-------------------------------------------------------------------------------------------------------------------------*/

.hotels{
    width:1400px;
    margin:10px 10px 0px 140px;
    padding: 10px;
    transition:1s;


}
.hotels p{
    font-family: 'Roboto Slab';
    float: right;
    font-size: 30px;
    display: inline-block;
    margin:-35px 35px 0px 0px;
    margin:-35px 35px 0px 0px;


}
.hotels:hover{
   background-color:beige;
   transition:1s;

}

.hotels img{
    width:250px;
    height:200px;
    margin-right:30px;
    float: left;


}

.hotels div h2{
    font-family: 'Roboto Slab';
    font-size: 30px;
    margin-top:10px;

}

.hotels div h3{
    font-family: 'Roboto Slab';
    margin-top:-30px;
    display:inline-block;
    margin-left:-65px;




}
.hotels div h4{
   display:inline-block;
    margin-top:60px;
   float: left;




}
.hotels div{
  background-color:#e3ddbf;
  margin:60px 40px;
  height:200px;
  border: 2px black solid;


}



/*-------------------------------------------------------------------------------------------------------------------------*/
.glav4{
    border-top: 2px double black;
    background-color:#FFEBCD;
    width:100%;
    height:1370px;
    margin-top:420px;
    padding:50px 0px 0px 0px;
}
.glav4 h1{
    border: 2px ridge black;
    padding: 10px 10px 10px 20px;
    margin:auto;
    background-color:#a8a08a;
    width:500px;
    color:black;
    font-family: 'Roboto Slab';
    font-weight: 200;
    font-size: 50px;


}


.glav3{
    border-top: 2px double black;
    background-color:#FFEBCD;
    width:100%;
    height:2900px;
    margin-top:420px;
    padding:50px 0px 0px 0px;

}
.glav3 h1{
    border: 2px ridge black;
    padding: 10px 10px 10px 50px;
    margin:auto;
    background-color:#a8a08a;
    width:500px;
    color:black;
    font-family: 'Roboto Slab';
    font-weight: 200;
    font-size: 50px;
}



.glav2{
        border-top: 2px double black;
    background-color:#FFEBCD;
    width:100%;
    height:1050px;
    margin-top:420px;
    padding:50px 0px 0px 0px;
}
.glav2 h1{
    border: 2px ridge black;
    padding: 10px 10px 10px 20px;
    margin:auto;
    background-color:#a8a08a;
    width:500px;
    color:black;
    font-family: 'Roboto Slab';
    font-weight: 200;
    font-size: 50px;
}
.glav{
    border-top: 2px double black;
    background-color:#FFEBCD;
    width:100%;
    height:1200px;
    margin-top:420px;
    padding:50px 0px 0px 0px;
}
.glav h1{
    border: 2px ridge black;
    padding: 10px 10px 10px 20px;
    margin:auto;
    background-color:#a8a08a;
    width:500px;
    color:black;
    font-family: 'Roboto Slab';
    font-weight: 200;
    font-size: 50px;


}
/*-------------------------------------------------------------------------------------------------------------------------*/

.p{
    width:100%;
    height:300px;
    margin-top:30px;
     transition: 0.5s;
}

.p:hover{
    background-color: burlywood;
    transition: 0.5s;
}
.p img {
    width:350px;
    border: 2px solid black;
    position: relative;
    left:190px;
    top:30px;
     transition: 0.5s;
}
.p img:hover{
    box-shadow:10px 10px 0px #8B4513;
     transition: 0.5s;
}

.p p{
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size:20px;
    font-weight: 600;
    width:850px;
    position:relative;
    left:250px;
    top:-20px;


}

/*-------------------------------------------------------------------------------------------------------------------------*/

.o{
    width:100%;
    height:300px;
    margin-top:30px;
     transition: 0.5s;
}
.o:hover{
    background-color: burlywood;
    transition: 0.5s;
}
.o p{
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size:20px;
    font-weight: 600;
    width:850px;
    position:relative;
    right:170px;
    top:-20px;

}
.o img{
    width:350px;
    border: 2px solid black;
    position: relative;
    left:1110px;
    top:30px;
    transition: 0.5s;
}
.o img:hover{
    box-shadow:-10px -10px 0px #B8860B;
    box-shadow:-10px -10px 0px #B8860B;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
.l{
    width:100%;
    height:300px;
    margin-top:30px;
     transition: 0.5s;
}
.l:hover{
    background-color: burlywood;
    transition: 0.5s;
}
.l p{
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size:20px;
    font-weight: 600;
    width:850px;
        position:relative;
    left:250px;
    top:-20px;

}
.l img{
    width:350px;
    height:240px;
    border: 2px solid black;
    position: relative;
    left:180px;
    top:30px;
    transition: 0.5s;
}
.l img:hover{
    box-shadow: 10px -10px 0px #556B2F;
     transition: 0.5s;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.het{
    background-color:#FFFFE0;
    border-top: 2px solid black;
    height:70px;
    width:100%;


}
.het i{
  font-size: 30px;
  margin:20px;
  transition: 0.5s;

}

/*-------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px){
     body{
    background-size: 100% 60%;
    background-position:top;

   }
    header li{
       font-size:60px;
    }
    .icon{
       width:76px;
    }
    header{
    padding:45px 0px 0px 0px;

    }
     .r{
         margin-top:450px;
    }

/*-------------------------------------------------------------------------------------------------------------------------*/
     .o{
    width:100%;
    height:360px;
    margin-top:50px;

    }
    .o p{
      font-size:22px;
      font-weight: 600;
      width:600px;
      position:relative;
      left:-260px;
      top:40px;

  }

   .o img {
    width:300px;
    position: relative;
    left:700px;
    top:4px;

  }

  /*-------------------------------------------------------------------------------------------------------------------------*/
     .p{
       width:100%;
       height:360px;
       margin-top:30px;
       transition: 0.5s;
    }
   .p p{
      font-size:22px;
      font-weight: 600;
      width:600px;
      position:relative;
      left:65px;
      top:17px;
    }

   .p img {
    width:300px;
    position: relative;
    left:35px;
    top:-17px;
   }

 /*-------------------------------------------------------------------------------------------------------------------------*/
   .l{
    width:100%;
    height:350px;
    margin-top:50px;
     transition: 0.5s;
    }
   .l p{
      font-size:25px;
      font-weight: 600;
      width:620px;
      position:relative;
      left:60px;
      top:-5px;

  }

  .l img {
    width:300px;
     height:200px;
    position: relative;
    left:25px;
    top:-40px;
  }


.glav{

    height:1400px;
  }

}
@media screen and (min-width: 320px) and (max-width: 480px){
   body{
       background-size: 100% 41%;
       background-position:top;

   }

    header li{
       font-size:32px;
       margin:20px 30px 10px 0px ;
    }

    .icon{
       width:46px;
       position:relative;
       left: -5px;
       top:15px;
    }

    .r{
         margin-top:170px;
    }
    header{
      padding:20px 0px 0px 0px ;

    }
  /*-------------------------------------------------------------------------------------------------------------------------*/
    .p{
    width:100%;
    height:260px;
    margin-top:30px;
     transition: 0.5s;
    }
   .p p{
      font-size:20px;
      font-weight: 600;
      width:330px;
      position:relative;
      left:20px;
      top:50px;

 }

 .p img {
    width:300px;
    position: relative;
    left:35px;
    top:30px;
}
 /*-------------------------------------------------------------------------------------------------------------------------*/
 .o{
    width:100%;
    height:260px;
    margin-top:470px;

    }
  .o p{
      font-size:20px;
      font-weight: 600;
      width:330px;
      position:relative;
      left:20px;
      top:60px;

 }

 .o img {
    width:300px;
    position: relative;
    left:35px;
    top:35px;

}
/*-------------------------------------------------------------------------------------------------------------------------*/
  .l{
    width:100%;
    height:260px;
    margin-top:440px;
     transition: 0.5s;
    }
  .l p{
      font-size:20px;
      font-weight: 600;
      width:330px;
      position:relative;
      left:20px;
      top:50px;

 }

 .l img {
    width:300px;
     height:200px;
    position: relative;
    left:35px;
    top:25px;
}


 /*-------------------------------------------------------------------------------------------------------------------------*/
 .glav h1{
    padding: 10px 0px 10px 30px;
    width:250px;
    font-size: 30px;


 }
 .glav{
    margin-top:150px;
    padding:30px 0px 0px 0px;
    height:2200px;
  }

}

